.mantine-Pagination-root {
  --pagination-active-bg: #445649;
  --pagination-active-color: #ffffff;
}

.mantine-Button-root[data-variant="outline"] {
  background-color: #ffffff;
  color: #445649;
  border-color: #445649;
  &:hover {
    background-color: #e9ece9;
    color: #36463a;
  }
}

.mantine-TextInput-input,
.mantine-Textarea-input {
  &:hover {
    border-color: #445649;
  }

  &:focus {
    border-color: #445649;
  }
}

.mantine-TextInput-input:hover,
.mantine-DatePickerInput-input:hover {
  border-color: #445649;
}

.mantine-TextInput-input:focus,
.mantine-DatePickerInput-input:focus {
  border-color: #445649;
}


.mantine-DatePicker-day[data-selected="true"],
.mantine-DatePickerInput-day[data-selected="true"] {
  background-color: #445649;
}

.mantine-DatePicker-day[data-selected="true"]:hover,
.mantine-DatePickerInput-day[data-selected="true"]:hover {
  background-color: #36463a;
}

.mantine-DatePickerInput-dropdown
.mantine-DatePicker-day[data-selected="true"] {
  background-color: #445649;
  color: #ffffff;
}

.mantine-DatePickerInput-dropdown
.mantine-DatePicker-day[data-selected="true"]:hover {
  background-color: #36463a;
}

.mantine-Badge-root[data-variant="filled"] {
  background-color: #445649;
}

.mantine-Badge-root[data-variant="light"] {
  background-color: #e8f1e8;
  color: #445649;
}

