.mantine-Pagination-root {
  --pagination-active-bg: #445649;
  --pagination-active-color: #ffffff;
}

:root {
  --button-bg: #445649;
  --button-bd: none;
  --button-hover: #36463a;
  --button-color: #ffffff;
  --button-hover-color: #f1f1f1;
  --button-fz: 14px;
}

.mantine-TextInput-input {
  &:hover {
    border-color: #445649;
  }

  &:focus {
    border-color: #445649;
  }
}

.mantine-Textarea-input {
  &:hover {
    border-color: #445649;
  }

  &:focus {
    border-color: #445649;
  }
}


.mantine-DatePicker-day[data-selected="true"] {
  background-color: #445649;
  &:hover {
    background-color: #36463a;
  }
}


.mantine-Badge-root[data-variant="filled"] {
  background-color: #445649;
}

.mantine-Badge-root[data-variant="light"] {
  background-color: #e8f1e8;
  color: #445649;
}
