@use  "../../../css/base/base-elements" as *;

.providedTreatments {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 18px;
  padding-right: 18px;

  &__card {
    @include card-withoutImage;
  }

  &__name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }

  &__description {
    font-size: 14px;
    color: #666;
  }

  &__price,
  &__duration {
    font-size: 14px;
    color: #555;
  }

  &__orderButton {
    margin-top: 12px;
    align-self: flex-start;
  }
}