@use "../../../css/base/base-elements.scss" as *;

.smallCard {
  @include card-base(90px, 115px);

  &__image {
    @include card-image(100%,  80px);
  }

  &__name {
    @include card-name(0.650rem);
  }
}

.selected {
  border: 1.5px solid #4caf50;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
