@use '../../../../css/base/base-elements' as *;

.highlightedCard {
  @include card-selected;
  border: 2px solid #445649;
}

.card {
  @include card-withoutImage;
  padding: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 8px;
    border-bottom: 1px solid #e0e0e0;

    &__right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }

  &__rating {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__section {
    font-size: 14px;
    line-height: 1.5;
  }

  &__user {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
  }

  &__date {
    font-size: 12px;
    color: #777;
  }

  &__label {
    font-weight: bold;
    color: #445649;
  }

  &__value {
    color: #565656;
  }

  &__text {
    font-size: 14px;
    color: #555;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }

  &__seeBookingButton {
    background: #69694d;

    &:hover {
      background: #505035;
    }
  }

  &__deleteReviewButton {
    background: #a16868;

    &:hover {
      background: #8f5b5b;
    }
  }

  &__seeReviewButton {
    background: #4a5b46;

    &:hover {
      background: #3c4b38;
    }
  }
}