@use "../../../css/base/base-containers" as *;

.servicePointDetails {
  height: 100%;
  display: flex;
  flex-direction: column;


  &__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    font-size: 14px;
    color: #333;
  }

  &__carouselOuterBox {
    padding: 10px;
  }

  &__textContainer {
    margin-top: 50px;
    @include text-container;

    &__heading {
     @include text-container-heading
    }
  }
}
