@use "../../../css/base/base-containers" as *;

.servicePointDetails {
  height: 100%;
  display: flex;
  flex-direction: column;


  &__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;

    &__header {
      padding-bottom: 8px;
      border-bottom: 1px solid #e0e0e0;
    }

    &__label {
      font-weight: bold;
      color: #445649;
    }

    &__value {
      color: #565656;
    }
  }

  &__carouselOuterBox {
    padding: 10px;
  }

  &__textContainer {
    margin-top: 15px;
    @include text-container;

    &__heading {
     @include text-container-heading
    }
  }
}
