@use "../../../css/base/base-containers" as *;

.servicePointDetails {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    font-size: 14px;
    color: #333;
  }

  &__scrollArea {
    overflow-x: auto;
    padding-bottom: 12px;
    background-color: inherit;
  }

  &__employees {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  &__textContainer {
    @include text-container;

    &__heading {
     @include text-container-heading
    }
  }
}
