@use '../../../../css/base/base-elements' as *;

.highlightedCard {
  border: 2px solid #445649 !important;
}


.card {
  @include card-withoutImage;
  padding: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 8px;
    border-bottom: 1px solid #e0e0e0;
  }

  &__section {
    font-size: 14px;
    line-height: 1.5;
  }

  &__dateAndId {
    font-weight: bold;
    color: #333;
  }

  &__label {
    font-weight: bold;
    color: #445649;
  }

  &__value {
    color: #565656;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }

  &__updateButton {
    flex: 1;
    background: #4a5b46;

    &:hover {
      background: #3c4b38;
    }

    &:disabled {
      background: #ececec;
    }
  }

  &__cancelButton {
    flex: 1;
    background: #b0b658;

    &:hover {
      background: #9a9f4a;
    }

    &:disabled {
      background: #ececec;
    }
  }

  &__deleteButton {
    flex: 1;
    background: #a16868;

    &:hover {
      background: #8f5b5b;
    }
  }

  &__seeReviewButton {
    background: none;
    color: #92c1e3;

    &:hover {
      background: none;
      color: #60bcff;
    }
  }

  &__leaveReviewButton {
    background: none;
    color: #d5d5c0;

    &:hover {
      background: none;
      color: #b0b658;
    }
  }
}