@use "../../../css/base/base-elements" as *;

.outerContainer {
  width: 1191px;
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.sideBarContainer {
  @include boxShadow;
  padding: 16px;
  flex: 3;
  align-self: flex-start;
}

.mainContainer {
  @include boxShadow;
  padding: 16px;
  flex: 7;
}

.activeTab {
  background-color: #445649;
  color: #ffffff !important;

  &:hover {
    background-color: #445649 !important;
    color: #ffffff !important;
    cursor: default;
  }
}

.navLink {
  &:hover {
    background-color: transparent;
  }
}