@use "../../../css/base/base-elements";
@use "../../../css/base/base-containers";

.innerBox {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  &__boxWithShadow {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 18px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.4s ease;

    &:hover {
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    }
  }

  &__divider {
    height: 2px;
    background-color: #726c6c;
    border-radius: 1px;
    width: 94%;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 10px;
  }

  .button {
    margin-top: 15px;
  }
}